@font-face {
    font-family: 'Electra';
    src: url ('fonts/electra.otf') format ('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Element tags */

body {
    font-family: Arial, sans-serif;
    /* font-family: 'Electra'; */
    
    margin: 0;
    padding: 0;
}

button,
.button {
    padding: 10px 20px;
    width: 125px;
    background-color: #cd0000;
    color: white;
    border: none;
    cursor: pointer;
}

footer,
nav {
    background-color: #666699;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

h1, table th {
    font-size: 24px;
    color: #333;
}

input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    box-shadow: 0 0 0 4px #999966;
}

main {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

/* Classes */

.all{
    overflow-y: auto;
    max-height: 410px;
}

.all table, .user table {
    display: flex;
    justify-content: center;
}

.background-wrapper {
    background-image: url("images/background.png");
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bullet {
    color: #9999ff;
}

.check {
    text-align: center;
}

.check .tabs {
    margin: 10px 0;
}

.check .tabs span {
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}

.container {
    z-index: 1;
    position: relative;
    margin-top: 100vh;
    width: 80%;
    margin: 0 auto;
}

.footer-links a,
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.logo img {
    height: 150px;
}

.user-options-div {
    display: none;
}

.user {
    display: none;
    overflow-y: auto;
    max-height: 410px;
}

/* IDs */
#create-form {
    display: none;
}

#login-message, #check-error-message {
    color: #cd0000;;
}
